.footer-user {
  width: 100%;
  min-height: 250px;
  padding: 4% 9%;
  display: flex;
  gap: 8%;
  background-color: #212121;
  color: white;
}

.footer_para {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer_para .social_icons {
  display: flex;
  gap: 10px;
}

.footer_para .social_icons i {
  font-size: 22px;
  background-color: gray;
  border-radius: 5px;
  padding: 4px;
}

.menu-items-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* border: 1px solid black; */
  gap: 50px;
}

.menu_items {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.menu_items a {
  text-decoration: none;
  color: white;
}

.menu_items a:hover {
  color: green;
}
